/*
@author Bhautik Bharadava
*/
// Spinner
// --------------------------------------------------
.spinner {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: solid 2px transparent;
	border-left-color: $secondary-color;
	border-right-color: $color-success;
	border-radius: 20px;
	animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
button .spinner{
	border-left-color:#fff;
	border-right-color: #fff;
	width:12px;
	height: 12px;
	border-radius: 10px;
}
button .spinner-secondary {
	border-left-color:  $secondary-color;
	border-right-color:$color-success;
	width:12px;
	height: 12px;
	border-radius: 10px;
}
